fsspec<=2024.12.0
pillow<11.0
laion-clap
torch 
torchaudio 
torchvision
tqdm 
pandas
scikit-learn
tokenizers==0.13.3
transformers==4.32.0
accelerate
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
tensorboard
matplotlib
